@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.body {
    background-color: hsl(235, 18%, 26%);
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}

.email-register {
    display: flex;
    justify-content: space-between;
    margin: 8rem auto;
    background-color: white;
    width: 60rem;
    height: 40rem;
    padding: 10px 0px 10px 10px;
    border-radius: 40px;
    align-items: center;
}

.left-section {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}

.title-form {
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: hsl(234, 29%, 20%);
    margin-bottom: 2rem;
}

.title-phrase {
    font-size: 16px;
    text-align: left;
    color: hsl(234, 29%, 20%);
    width: 25rem;
    margin-bottom: 2rem;
}

.title-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.list-option {
    color: hsl(234, 29%, 20%);
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.list-option img {
    user-select: none;
}

.email-form {
    display: flex;
    flex-direction: column;
}

.email-form-title {
    color: hsl(234, 29%, 20%);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
    user-select: none;
}

.email-form-field {
    padding: 10px 10px 10px 10px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: hsl(231, 7%, 60%) 1px solid;
    border-radius: 5px;
    width: 23.5rem;
    height: 1.5rem;
    margin-bottom: 8px;
    user-select: none;
}

.email-form-field:focus {
    border: black 1px solid;
}

.email-form-submit {
    border: none;
    background-color: hsl(234, 29%, 20%);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: 0.5s;
    margin-top: 1.5rem;
}

.email-form-submit:hover {
    transition: 0.5s;
    background-color:  hsl(4, 100%, 67%);
    cursor: pointer;
}

.error-email {
    color: red;
    font-size: 12px;
    margin-left: 3px;
    margin-bottom: 1rem;
    font-weight: 700;
}

.right-section {
    margin-right: 2rem;
    user-select: none;
}

.thank-you {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    width: 32rem;
    height: 33rem;
    margin: 12rem auto;
    border-radius: 40px;
}

.icon-ty {
    margin-top: 3rem;
    margin-left: 4rem;
    user-select: none;
}

.title-ty {
    font-size: 55px;
    font-weight: 700;
    color: hsl(234, 29%, 20%);
    margin-top: 2rem;
    margin-left: 4rem;
}

.phrase-ty {
    font-size: 16px;
    color: hsl(234, 29%, 20%);
    width: 23rem;
    margin-top: 2rem;
    margin-left: 4rem;
    line-height: 1.5rem;
}

.mail-strong {
    font-weight: 700;
    color: hsl(234, 29%, 20%);
}

.button-ty {
    border: none;
    background-color: hsl(234, 29%, 20%);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    letter-spacing: 1px;
    margin-left: 4rem;
    margin-top: 3rem;
    width: 22rem;
    transition: 0.5s;
}

.button-ty:hover {
    transition: 0.5s;
    background-color:  hsl(4, 100%, 67%);
    cursor: pointer;
}

@media screen and (max-width: 990px) {
    .body {
        background-color: white;
    }

    .email-register {
        margin: 0;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
    }

    .left-section {
        margin: 0 auto;
        align-items: center;
    }

    .main-img {
        width: 100vw;
        margin-bottom: 2rem;
    }

    .right-section {
        margin: 0;
    }

    .title-form {
        font-size: 40px;
    }

    .title-phrase {
        font-size: 20px;
        line-height: 2rem;
    }

    .email-form {
        display: flex;
        align-items: center;
    }

    .email-form-field {
        width: 80vw;
    }

    .email-form-submit {
        width: 84vw;
    }
}